@import "../../styles/foundation";
@import "../../styles/shared";

.Login {
  width: 100%;
  min-height: 100vh;
  display: flex;
  background: color('sky', 'light');
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: rem(15px);

  @include when-printing {
    background-color: inherit;
  }
}

.LoginCard {
  width: 34rem;
}