@import "../../../../../../styles/foundation";
@import "../../../../../../styles/shared";

.Details {
  padding: spacing();
  margin-top: -1 * spacing();

  &.withActions {
    margin-top: -1 * spacing(tight);
    border-top: border();
  }
}