@import "../../styles/foundation";
@import "../../styles/shared";

.PositionedOverlay {
  position: absolute;
  z-index: z-index(overlay);
}

.fixed {
  position: fixed;
}

.calculating {
  visibility: hidden;
}