@import "../../styles/foundation";
@import "../../styles/shared";

$error-icon-adjustment: rem(2px);

.InlineError {
  display: flex;
  color: color('red', 'dark');
}

.Icon {
  @include recolor-icon(color('red', 'dark'));
  margin-left: -1 * $error-icon-adjustment;
  margin-right: spacing(extra-tight) + $error-icon-adjustment;
}