@import "../../styles/foundation";
@import "../../styles/shared";

$small-width: rem(620px);

.BodyWrapper {
  display: flex;
  flex-grow: 1;
  border-radius: border-radius(large);
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.Body {
  width: 100%;
}

.IFrame {
  display: block;
  width: $small-width;
  max-width: 100vw;
  border: none;

  @include breakpoint-after(layout-width(page-with-nav)) {
    max-width: $small-width;
  }
}

.Spinner {
  margin: spacing();
  text-align: center;
}