@import "../../../../../../styles/foundation";
@import "../../../../../../styles/shared";


$section-max-width: rem(325px);

.Section {
  max-width: $section-max-width;
  margin-top: spacing(tight);
  padding-top: spacing(tight);
  border-top: border();
}