@import "../../../../styles/foundation";
@import "../../../../styles/shared";

$large-width: layout-width(primary, max) + layout-width(secondary, max) +
  spacing(tight);

.UserMenu {
  display: flex;

  @include safe-area-for(padding-right, spacing(tight), right);
}

.Details {
  max-width: rem(160px);
  margin-right: spacing(loose);
  margin-left: spacing();
}

.Name {
  @include truncate;
  @include text-style-body;
  font-weight: 500;
  line-height: line-height(subheading);
  color: var(--top-bar-color);
  text-align: left;
}

.Detail {
  @include text-style-caption;
  @include truncate;
  opacity: 0.7;
  color: var(--top-bar-color);
  text-align: left;
}