@import "../../../../styles/foundation";
@import "../../../../styles/shared";

$activator-variables: (
        min-width: rem(36px),
        transition: background-color 0.1s,
        focus-background-color: rgba(0, 0, 0, 0.01),
        hover-background-color: rgba(0, 0, 0, 0.02),
        active-background-color: rgba(0, 0, 0, 0.03),
);

@function menu($variable) {
  @return map-get($activator-variables, $variable);
}

.Activator {
  @include unstyled-button;
  color: var(--top-bar-color);
  position: relative;
  min-width: menu(min-width);
  height: top-bar-height();
  margin: 0;
  padding: spacing(tight) spacing();
  border: 0;
  border-left: menu(border-left);
  cursor: pointer;
  transition: menu(transition);
  width: 100%;

  @include breakpoint-before(layout-width(page-with-nav), false) {
    display: none;
  }

  &:focus {
    background-color: menu(focus-background-color);
    outline: none;
  }

  &:hover {
    background-color: menu(hover-background-color);
  }

  &:active,
  &[aria-expanded='true'] {
    background-color: menu(active-background-color);
    outline: none;
    transition: none;
  }
}

.Section {
  margin-top: spacing(tight);
  padding-top: spacing(tight);
  border-top: border();
}